/****************************************************************************************/
/* ROOT VARIABLES */
:root {
    --paulBluePrimary: #90CAF9; /* color: var(--paulBluePrimary); */
    --paulBlueLight: #C3FDFF; /* color: var(--paulBlueLight); */
    --paulBlueDark: #5D99C6; /* color: var(--paulBlueDark); */
    --paulBlueDarkRGBA: rgba(93,153,198,0.95); /* color: var(--paulBlueDarkRGBA); */
    --paulPurplePrimary: #9B27AF; /* color: var(--paulPurplePrimary); */
    --paulPurpleLight: #CF5CE2; /* color: var(--paulPurpleLight); */
    --paulPurpleDark: #69007F; /* color: var(--paulPurpleDark); */
    --bgWhite: #F4F4F4; /* color: var(--bgWhite); */
    --white: #FFFFFF; /* color: var(--white); */
    --black: #000000; /* color: var(--black); */
    --gray: #CCCCCC; /* color: var(--gray); */
    --facebook: #3B5999; /* color: var(--facebook); */
    --youtube: #FF0000; /* color: var(--youtube); */
    --twitter: #1DA1F2; /* color: var(--twitter); */
    --instagram: #E1306C; /* color: var(--instagram); */
    --bandcamp: #629AA9; /* color: var(--bandcamp); */
    --spotify: #1DB954; /* color: var(--spotify); */
    --google: #00CFFF; /* color: var(--google); */
    --itunes: #FF5C6D; /* color: var(--itunes); */
    --darkGray: #212121; /* color: var(--darkGray); */
    --darkGrayRGBA: rgba(0,0,0,0.97); /* color: var(--darkGrayRGBA); */
    --fontFamily: 'Open Sans', sans-serif; /* font-family: var(--fontFamily); */
    --textShadow: 2px 2px 0 rgba(0,0,0,1); /* text-shadow: var(--textShadow); */ 
    --boxShadowHvr: 0px 0px 25px 3px var(--paulBlueDark); /* box-shadow: var(--boxShadowHvr); */
}
/* root variables */
/****************************************************************************************/

/* DEFAULT SETTINGS */
* {
    text-decoration: none;
    margin: 0 auto;
    padding: 0;
    font-family: var(--fontFamily);
}
body {
    background-color: var(--bgWhite);
    color: var(--darkGray);
}
.hr-standard {
    width: 80vw;
    margin: 50px auto;
}
.hr-videos {
    width: 25vw;
    margin: 75px auto;
}
.hr-standard,
.hr-videos {
    border: 3px solid var(--paulBlueDark);
}
.circle-img {
    border-radius: 50%;
}
.rounded-img {
    border-radius: 10px;
}
.text-upper {
    text-transform: uppercase;
}
.text-lower {
    text-transform: lowercase;
}

/*-------------------- NAVBAR-CONTAINER (MOBILE-FIRST) --------------------*/
.logo {
    grid-area: logo;
    padding: 0 10px;
}
.navbar-menu {
    grid-area: navbar-menu;
}
.navbar-nav {
    grid-area: navbar-nav;
}
.logo,
.navbar-menu,
.navbar-nav {
    align-self: center;
    justify-items: center;
}
.navbar-container {
    background-color: var(--darkGray);
    color: var(--white);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    max-width: 100%;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    display: grid;
    grid-template-columns: 15px minmax(100px,auto) 1fr auto 15px;
    grid-template-rows: 50px;
    grid-template-areas:
        ". logo . navbar-menu .";
}

/*-------------------- NAVBAR-NAV --------------------*/
.navbar-nav ul {
    list-style: none;
    text-align: center;
}
.navbar-nav a {
    color: var(--white);
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
.navbar-nav a.active {
    font-weight: bolder;
    color: var(--paulBluePrimary);
}
.navbar-nav ul li:hover a {
    color: var(--paulBlueDark);
}


/*-------------------- MAIN --------------------*/
.main-container {
    max-width: 100vw;
}

/*-------------------- TOP IMAGES --------------------*/
.top-img {
    height: 65vh;
    border-bottom: 2px solid var(--darkGray);
}
.index-img {
    background: url(/ci-milestone01-ucfd/assets/images/paul/PaulMiddleton-007.jpg) top right no-repeat;
    background-size: cover;
}
.music-img {
    background: url(/ci-milestone01-ucfd/assets/images/paul/PaulMiddleton-005.jpg) center no-repeat;
    background-size: cover;
}
.videos-img {
    background: url(/ci-milestone01-ucfd/assets/images/paul/PaulMiddleton-013.jpg) center 10% no-repeat;
    background-size: cover;
}
.photos-img {
    background: url(/ci-milestone01-ucfd/assets/images/paul/PaulMiddleton-008.jpg) right 10% no-repeat;
    background-size: cover;
}
.testimonials-img {
    background: url(/ci-milestone01-ucfd/assets/images/paul/PaulMiddleton-006.jpg) right no-repeat;
    background-size: cover;
}
.contact-img {
    background: url(/ci-milestone01-ucfd/assets/images/paul/PaulMiddleton-018.jpg) left 30% no-repeat;
    background-size: cover;
}

/*-------------------- BODY --------------------*/
.body-title {
    grid-area: body-title;
    letter-spacing: 0.1em;
    margin-bottom: 2em;
}
.body-title h2,
.body-title h3 {
    text-align: center;
}
.body-section {
    grid-area: body-section;
    text-align: justify;
    line-height: 1.5;
}
.body-section p {
    margin-bottom: 2em;
}
.body-section a {
    color: var(--black);
    font-weight: bold;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
.body-section a:active,
.body-section a:focus,
.body-section a:hover {
    color: var(--paulPurplePrimary);
}
.body-title,
.body-section {
    align-self: center;
    justify-items: center;
}
.body-container {
    margin: 50px 10vw;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "body-title"
        "body-section";
}

/*-------------------- MUSIC.html --------------------*/

/*-------------------- VIDEOS.html --------------------*/
.videos-section {
    max-width: 90vw;
    text-align: center;
    margin-bottom: 100px;
}
.video-container {
    width: 100%;
}
.video-iframe {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid var(--gray);
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
.video-iframe:hover {
    border: 1px solid var(--paulBlueDark);
    box-shadow: var(--boxShadowHvr);
}
.video-embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-cite {
    color: var(--darkGray);
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.3;
}
a.youtube-link i {
    color: var(--youtube);
}
a.youtube-link:hover {
    color: var(--black);
}

/*-------------------- PHOTOS.html --------------------*/
.gallery-img {
    position: relative;
    text-align: center;
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: 15px;
    padding: 10px;
    width: 250px;
    filter: grayscale(100%);
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
.gallery-img:hover {
    filter: grayscale(0%);
    transform: scale(1.025);
    border: 1px solid var(--paulBlueDark);
    box-shadow: var(--boxShadowHvr);
}
.gallery-container figure {
    position: relative;
}
.gallery-text {
    opacity: 0.5;
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 85%;
    text-align: center;
    transform: translate(-50%,-50%);
    padding: 0.5em;
    font-weight: bold;
    background-color: var(--darkGrayRGBA);
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
.gallery-container a,
.gallery-container a:hover,
.gallery-container a:active,
.gallery-container a:focus {
    color: var(--white);
}
.gallery-img:hover ~ .gallery-text {
    opacity: 0;
}
.gallery-container {
    max-width: 90vw;
    margin-bottom: 100px;
    align-self: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

/*-------------------- TESTIMONIALS.html --------------------*/
.testimonials-container {
    max-width: 100vw;
}
.testimonials,
.testimonial,
.testimonial-img,
.testimonial-header,
.testimonial-text {
    align-self: center;
    justify-items: center;
}
.testimonial-img {
    grid-area: testimonial-img;
    max-width: 20vw;
}
.testimonial-img.circle-img {
    box-shadow: 0px 0px 20px 3px var(--gray);
}
.testimonial-header {
    grid-area: testimonial-header;
    margin: 15px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}
.testimonial-text {
    grid-area: testimonial-text;
    color: var(--darkGray);
    text-align: justify;
    line-height: 1.5;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
.testimonial {
    cursor: pointer;
    border: 1px solid var(--gray);
    background-color: var(--white);
    border-radius: 20px;
    padding: 20px;
    width: 80%;
    display: grid;
    align-self: start;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "testimonial-img"
        "testimonial-header"
        "testimonial-text";
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
.testimonial:hover cite {
    font-size: 1.5em;
    color: var(--black);
    text-align: center;
}
.testimonial:hover {
    border: 1px solid var(--paulBlueDark);
    box-shadow: var(--boxShadowHvr);
}
.testimonials {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

/*-------------------- CONTACT.html --------------------*/

/*-------------------- FOOTER --------------------*/
.footer-social {
    grid-area: footer-social;
}
.footer-signature {
    grid-area: footer-signature;
}
.footer-container {
    color: var(--white);
    background-color: var(--darkGray);
    border-top: 8px solid var(--paulBlueDark);
    padding: 20px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "footer-social"
        "footer-signature";
}
footer ul {
    list-style: none;
    text-align: center;
}
footer ul li {
    display: inline-block;
}
footer ul li a {
    font-size: 5vw;
    color: var(--white);
    text-shadow: var(--textShadow);
}
footer ul li a i {
    padding: 0.2em;
    margin: 0 0.2em;
    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}
footer ul li a i:hover {
    transform: scale(1.5);
}
footer ul li:hover .facebook {
    color: var(--facebook);
}
footer ul li:hover .youtube {
    color: var(--youtube);
}
footer ul li:hover .twitter {
    color: var(--twitter);
}
footer ul li:hover .instagram {
    color: var(--instagram);
}
footer ul li:hover .bandcamp {
    color: var(--bandcamp);
}
footer ul li:hover .spotify {
    color: var(--spotify);
}
footer ul li:hover .google {
    color: var(--google);
}
footer ul li:hover .itunes {
    color: var(--itunes);
}
.footer-signature {
    text-align: center;
    padding: 20px 0;
}
.footer-signature a {
    color: var(--white);
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
.footer-signature a:hover {
    color: var(--paulPurpleLight);
}
.copyright {
    border-right: 1px solid var(--white);
    font-size: 1em;
}
.designer {
    display: inline-block;
    margin-left: 5px;
    font-size: 1em;
}

/*-------------------- @MEDIA QUERIES <799px --------------------*/
@media only screen and (max-width: 799px) {
    /* NAVBAR-NAV (mobile dropdown) */
    .navbar-nav {
        top: 0;
        bottom: 0;
        left: 0;
        height: 0;
        width: 100vw;
        line-height: 3;
        z-index: 500;
        position: fixed;
        overflow-x: hidden;
        background-color: var(--darkGrayRGBA);
        -webkit-transition: all 0.3s ease-in-out;
           -moz-transition: all 0.3s ease-in-out;
             -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
    }
    .navbar-nav a {
        font-size: 1.5em;
    }
    .navbar-menu i.toggle-open {
        color: var(--white);
        font-size: 2em;
        cursor: pointer;
    }
    .navbar-nav a.toggle-close {
        font-size: 2.5em;
        text-align: right;
        display: block;
        padding: 0 0.75em 0 0;
    }

    /* CLIENT SLIDER */
    /* concept from:
    https://codepen.io/dudleystorey/pen/ehKpi
    "Responsive CSS Image Slider" | Dudley Storey */
    .client-slider .slider img {
        width: 10em;
        float: left;
        margin: 1.5em;
        -webkit-transition: all 0.3s ease-in-out;
           -moz-transition: all 0.3s ease-in-out;
             -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
    }
    .clients-container img:hover {
        transform: scale(1.25);
    }
    .client-slider {
        overflow: hidden;
        margin: 0 auto;
        max-width: 100vw;
        margin-bottom: 50px;
        background-color: var(--white);
        border-top: 1px solid var(--gray);
        border-bottom: 1px solid var(--gray);
    }
    .client-slider .slider {
        position: relative;
        margin: 0 auto;
        width: 510em;
        animation: 90s client-slider linear infinite alternate;
    }
    @keyframes client-slider {
        0% {
            left: 5em;
        }
        100% {
            left: -480em;
        }
    }
}

/*-------------------- @MEDIA QUERIES >800px --------------------*/
@media only screen and (min-width: 800px) {
    /* NAVBAR-NAV */
    .navbar-container {
        display: grid;
        grid-template-columns: 15px minmax(100px,auto) 1fr auto 15px;
        grid-template-rows: 50px;
        grid-template-areas:
            ". logo . navbar-nav .";
    }
    .navbar-toggle {
        display: none;
    }
    .navbar-nav ul li {
        display: inline-block;
        margin: 0 10px;
    }

    /* VIDEOS.html */
    .video-container {
        max-width: 65vw;
    }

    /* TESTIMONIALS.html */
    .testimonial-img {
        max-width: 10vw;
    }
    .testimonials {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    
    /* TESTIMONIALS.html / Clients */
    .clients-container img {
        max-width: 10vw;
        padding: 10px;
        background-color: var(--white);
        border: 1px solid var(--gray);
        border-radius: 15px;
        -webkit-transition: all 0.3s ease-in-out;
           -moz-transition: all 0.3s ease-in-out;
             -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
    }
    .clients-container img:hover {
        transform: scale(1.1);
        border: 1px solid var(--paulBlueDark);
        box-shadow: var(--boxShadowHvr);
    }
    .client-slider {
        margin-bottom: 50px;
        grid-area: client-slider;
        align-self: center;
        justify-items: center;
    }
    .clients-container {
        max-width: 100vw;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            "body-title"
            "client-slider";
    }
    .slider {
        margin: 0 auto;
        width: 80vw;
        align-self: center;
        justify-items: center;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 22px;
    }

    /* FOOTER */
    .footer-social a {
        font-size: 2em;
    }
}